/* CSS used here will be applied after bootstrap.css */
html,body {
  height:100%;
}


.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;  
  -o-transition:padding 0.2s ease-out;         
  transition:padding 0.2s ease-out;

}

@media (min-width:768px) {
  .affix-top {
    /* navbar style at top */
    background:transparent;
    border-color:transparent;
    padding: 15px;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease; 
    -o-transition:all 0.5s ease;         
    transition:all 0.5s ease;  
  }
}

.affix-top .nav>li>a {
 color: #ffffff;
}

.affix-top.navbar .nav>li>a:hover,
.affix-top.navbar .navbar-brand
{
 color: #337ab7;
}

/*section {
  height:calc(90% - 50px);
  height: 20vh;
  }*/

  button:focus {
    outline: none;
    box-shadow: none; }

    .ml-10 {
      margin-left: 10px; }

      .ml-20 {
        margin-left: 20px; }

        .ml-40 {
          margin-left: 40px; }

          .mr-20 {
            margin-right: 20px; }

            .mr-25 {
              margin-right: 25px; }

              .mt-20 {
                margin-top: 20px; }

                .mt-25 {
                  margin-top: 25px; }

                  .primary_btn {
                    display: inline-block;
                    background: #11772D;
                    padding: 0px 50px;
                    color: #fff;
                    font-family: "Roboto", sans-serif;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 48px;
                    border: 1px solid #11772D;
                    border-radius: 0px;
                    outline: none !important;
                    box-shadow: none !important;
                    text-align: center;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all 300ms linear 0s; }
                    .primary_btn:hover {
                      background: #04AA6D;
                      color: #FFF;
                      text-decoration:none; }
                      .primary_btn.yellow_btn {
                        background: #fdbb00 !important;
                        border: 1px solid #fdbb00 !important;
                        color: #000000; }
                        .primary_btn.yellow_btn:hover {
                          background: transparent !important; }

                          /*---------------------------------------------------- */

/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  z-index: 1;
  min-height: 700px;
  display: flex;
  background: linear-gradient(rgba(3, 1, 10, 0.5), rgba(3, 1, 10, 0.5)), url(../img/kemenag1.jpg) no-repeat scroll center center;
  background-size: cover; }
  .home_banner_area .banner_inner {
    width: 100%;
    display: flex; }
    .home_banner_area .banner_inner .container {
      vertical-align: middle;
      align-self: center; }
      .home_banner_area .banner_inner .banner_content {
        color: #fff;
        vertical-align: middle;
        align-self: center;
        text-align: center; }
        .home_banner_area .banner_inner .banner_content .upper_text {
          font-size: 50px;
          text-transform: uppercase;
          color: #fdbb00; }
          @media (max-width: 767px) {
            .home_banner_area .banner_inner .banner_content .upper_text {
              font-size: 35px; } }
              .home_banner_area .banner_inner .banner_content h2 {
                color: #ffffff;
                margin-top: 0px;
                font-size: 50px;
                font-weight: bold;
                font-family: "Poppins", sans-serif;
                line-height: 70px;
                text-transform: uppercase;
                margin-bottom: 20px; }
                .home_banner_area .banner_inner .banner_content p {
                  color: #f9f9ff;
                  max-width: 680px;
                  margin: 0px auto 45px; }
                  @media (max-width: 767px) {
                    .home_banner_area .banner_inner .banner_content .mr-20 {
                      margin-right: 0;
                      margin-bottom: 15px; } }

                      .banner_area {
                        position: relative;
                        z-index: 1;
                        min-height: 500px; }
                        .banner_area .banner_inner {
                          position: relative;
                          overflow: hidden;
                          width: 100%;
                          min-height: 500px;
                          background: transparent;
                          z-index: 1; }
                          .banner_area .banner_inner .overlay {
                            background: linear-gradient(0deg, rgba(6, 13, 1, 0.6), rgba(6, 13, 1, 0.6)), url(../img/home.jpg) no-repeat scroll center center;
                            background-size: cover;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            height: 100%;
                            bottom: 0;
                            z-index: -1;
                            opacity: 1; }
                            .banner_area .banner_inner .banner_content h2 {
                              color: #fff;
                              font-size: 48px;
                              font-family: "Roboto", sans-serif;
                              margin-bottom: 10px;
                              font-weight: 500; }
                              .banner_area .banner_inner .banner_content p {
                                color: #ffffff;
                                margin-bottom: 0; }

/* End Home Banner Area css
============================================================================================ */

li.active > a.hidden-xs {
  display: block!important;
}
li.active > a.visible-xs {
  display: none!important; 
}
.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0 5px 5px 0;
}
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
  padding: 10px;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #aaa;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #aaa #aaa #aaa transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #aaa;
  color: #fff;
}
.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #428bca;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #428bca #428bca #428bca transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #428bca;
}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;  
}
.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
  display: block;
}

.credit-card-box .display-tr {
  display: table-row;
}
.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
  min-width: 180px;
}

.footer-bottom {
  bottom: 0;
  position: bottom;
  background: #071721;
  padding: 20px; 
}
.footer-bottom .footer-text {
  color: #fff;
  margin-bottom: 0; 
}
.footer-bottom .footer-text a {
  color: #00923f;
  opacity: 1; 
}

.style-on-scroll {
  position: fixed;
  top: 0;
  margin-top: 30px;
  width: 84.4%;
  margin-left: -20px;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, .2);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, .2);
}

/*loading*/
#loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color:rgba(255,255,255,0.5);
}
/*-- css spin --*/
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*-- css loader --*/
.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  border-right: 8px solid #3498db;
  border-bottom: 8px solid #3498db;
  width: 100px;
  height: 100px;
  left: 45.6%;
  top: 38%;
  -webkit-animation: spin 2s linear infinite;
  position: fixed;
  animation: spin 2s linear infinite;
}
.textLoader{
  position: fixed;
  top: 56%;
  left: 45%;
  color: #34495e;
}
/*-- responsive --*/
@media screen and (max-width: 1034px){
  .textLoader{
    left: 46.2%;
  }
}
@media screen and (max-width: 824px){
  .textLoader {
    left: 47.2%;
  }
}
@media screen and (max-width: 732px){
  .textLoader {
    left: 48.2%;
  }
}
@media screen and (max-width: 500px){
  .loader{
    left: 36.5%;;
  }
  .textLoader {
    left: 40.5%;
  }
}
@media screen and (max-height: 432px){
  .textLoader {
    top: 65%;
  }
}
@media screen and (max-height: 350px){
  .textLoader {
    top: 75%;
  }
}
@media screen and (max-height: 312px){
  .textLoader {
    display: none;
  }
}